#!/usr/bin/env bash
set -e

{{ $isUbuntu := and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu") }}
{{ $isMacOS := eq .chezmoi.os "darwin" }}

{{ if $isMacOS }}
  # Install Homebrew if missing
  if ! command -v brew >/dev/null; then
    echo
    echo "🚀 Installing homebrew"
    echo -e "\033[90m[debug]: Ran from run_once-p1-install.sh\033[0m"
    echo "─────────────────────────────────────────"
    echo "🚨 YOU WILL BE ASKED FOR YOUR PASSWORD"
    echo
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "eval \"\$(\/opt\/homebrew\/bin\/brew shellenv)\"" >> "$HOME"/.zshrc
    echo "✅ Homebrew installed successfully"
  fi

  # Setup Homebrew environment for this shell
  eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if $isUbuntu }}
    echo
    echo "🚀 Installing Ubuntu dependencies"
    echo -e "\033[90m[debug]: Ran from run_once-p1-install.sh\033[0m"
    echo "─────────────────────────────────────────"
    echo "🚨 YOU WILL BE ASKED FOR YOUR PASSWORD"
    echo
    echo 'export PATH="$HOME/.local/bin:$PATH"' >> "$HOME"/.bashrc
    sudo apt install -y software-properties-common unzip git

{{ end }}

# Install fish if missing
if ! command -v fish >/dev/null; then
  echo
  echo "🚀 Installing fish"
  echo "─────────────────────────────────────────"
  {{ if $isMacOS }}
    brew install fish
  {{ else if $isUbuntu }}
    sudo add-apt-repository -y ppa:fish-shell/release-4
    sudo apt update
    sudo apt install -y fish
  {{ end }}

  echo "✅ Fish shell installed successfully"
fi

# Install pnpm if missing
if ! command -v pnpm >/dev/null; then
  echo
  echo "🚀 Installing pnpm"
  echo "─────────────────────────────────────────"
  {{ if not $isMacOS }}
    curl -fsSL https://get.pnpm.io/install.sh | sh -
  {{ else }}
    brew install pnpm
  {{ end }}
  echo "✅ pnpm installed successfully"
fi

# Install bun if missing
if ! command -v bun >/dev/null; then
  echo
  echo "🚀 Installing bun"
  echo "─────────────────────────────────────────"
  curl -fsSL https://bun.sh/install | bash
  # Add bun to PATH for this session
  export PATH="$HOME/.bun/bin:$PATH"

  {{ if not $isMacOS }}
    # Add bun to .zshrc
    echo "export BUN_INSTALL=\"$HOME\/.bun\"" >> "$HOME/.zshrc"
    echo "export PATH=\"$BUN_INSTALL/bin:\$PATH\"" >> "$HOME/.zshrc"
  {{ end }}
  echo "✅ bun installed successfully"
fi

# Install fnm if missing
if ! command -v fnm >/dev/null; then
  echo
  echo "🚀 Installing fnm"
  echo "─────────────────────────────────────────"
  curl -fsSL https://fnm.vercel.app/install | bash -s
  # Source fnm environment for this session
  
  export PATH="$HOME/.local/share/fnm:$PATH"
  eval "$(fnm env)"
  echo "✅ fnm installed successfully"
fi

# fisher
if [ ! -f "$HOME/.config/fish/functions/fisher.fish" ]; then
  echo
  echo "🚀 Installing fisher"
  echo "─────────────────────────────────────────"
  {{ if not $isMacOS }}
    fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
  {{ else }}
    brew install fisher
  {{ end }}

  echo "✅ fisher installed successfully"
fi

# Install LTS NodeJS
if ! command -v node &> /dev/null; then
  echo
  echo "🚀 Installing latest LTS NodeJS"
  echo "─────────────────────────────────────────"
  fnm install --lts
  echo "✅ NodeJS installed successfully"
fi

# Install proper chezmoi
if ! command -v chezmoi >/dev/null; then
  echo
  echo "🚀 Installing chezmoi"
  echo "─────────────────────────────────────────"
  {{ if not (eq .chezmoi.os "darwin") }}
    sh -c "$(curl -fsLS get.chezmoi.io/lb)"
  {{ else }}
    brew install chezmoi
  {{ end }}

  echo "✅ chezmoi installed successfully"
fi

echo chezmoi.post-init-root > .local/share/chezmoi/.chezmoiroot

echo "─────────────────────────────────────────"
echo -e "✅ Step 1 of initialization complete\n"
echo -e "\033[33mRun the following commands to apply further steps:\033[0m\n"
echo {{ if not $isMacOS }}"source ~/.bashrc" {{ else }}"source ~/.zshrc" {{ end }}
echo "chezmoi init --apply"
echo
