[diff]
    exclude = ["scripts"]

[edit]
    command = "code"
    args = ["--wait"]

[git]
    autoAdd = true
    autoCommit = false
    autoPush = false

[status]
    exclude = ["scripts"]

[update]
    apply = false

[scriptEnv]
    USER_CHEZMOI_SOURCE_DIR = {{ .chezmoi.sourceDir | quote }}