[alias]
  aliases = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"
  amend = commit --amend --edit
  append = commit --amend --no-edit
  ci = commit
  diffs = "!git -c delta.side-by-side=true diff"
  co = checkout
  st = status
  stashall = stash save -u
  sw = switch
  sweep = "!git reset . && git co . && git clean -fd"
  uncommit = reset --soft "HEAD~1"
  wip = "!git add -A && git commit -m 'WIP' --no-verify"

[commit]
  gpgsign = true

[core]
  pager = delta --tabs 4
  autocrlf = input

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false
  side-by-side = false

[diff]
  colorMoved = default
  algorithm = histogram
  tool = Kaleidoscope

[difftool]
  prompt = false
  trustExitCode = true
  
{{ if has .chezmoi.fqdnHostname .systems.desktop -}}
[difftool "Kaleidoscope"]
  cmd = "ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\""
{{- end }}

[fetch]
  prune = true

[gpg]
  format = ssh

{{ if has .chezmoi.fqdnHostname .systems.desktop -}}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[help]
  autocorrect = 30 # 3.0 seconds

[init]
  defaultBranch = main
{{- if not (has .chezmoi.fqdnHostname .systems.personal) }}
  templatedir = ~/.git-templates
{{- end }}

[interactive]
  singlekey = true
  diffFilter = delta --tabs 4 --color-only

[merge]
  conflictstyle = zdiff3
  tool = Kaleidoscope

[mergetool]
  prompt = false

{{ if has .chezmoi.fqdnHostname .systems.desktop -}}
[mergetool "Kaleidoscope"]
  cmd = "ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot"
  trustExitCode = true
{{- end }}

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[user]
  name = Jake Carpenter
  email = jake@jakecarpenter.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAZrbQ9/KiToUmY5ybBtSIpklB5MNUgYRYOnUgf0o9US
