#!/usr/bin/env fish

# Hash the packages file to trigger a change here when there's a change there.
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

# Initialize packages array
set packages

# Base profile
{{ range .packages.cargo.base }}
  set packages $packages {{ . | quote }}
{{ end }}

# Desktop profile
{{ if has .chezmoi.fqdnHostname .systems.desktop }}
  {{ range .packages.cargo.desktop }}
    set packages $packages {{ . | quote }}
  {{ end -}}
{{ end }}

# Personal profile
{{ if has .chezmoi.fqdnHostname .systems.personal }}
  {{ range .packages.cargo.personal }}
    set packages $packages {{ . | quote }}
  {{ end -}}
{{ end }}

echo
echo "🦀 Checking for missing Cargo packages"
echo "─────────────────────────────────────────"

set missing_packages

for package in $packages
  if not cargo install --list | grep -q "^$package v"
    echo "❌ $package"
    set missing_packages $missing_packages $package
  else
    echo "✅ $package"
  end
end

if test (count $missing_packages) -gt 0
  cargo install $missing_packages
  echo -e "\n🎉 All missing packages have been installed.\n"
else
  echo -e "\n👍 All packages are already installed.\n"
end